
body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
}

ul ol {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

img {
    border: 3px solid #3882f6;
    border-radius: 10px;
}

/* In hindsight the header should should have been combined with hero as an item for the body container. But I'm too lazy to change that now. */
/* Using identical horizontal padding will fix this */
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px 100px;
}

#headerlogo {
    color: #F9FAF8;
    font-size: 24px;
}

.headerlinks {
    display: flex;
    text-decoration: none;
}

.heromain {
    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

.herocontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-basis: 50%;
}

#heroheader {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: -10px;
}

#herobutton {
    background-color: #3882f6;
    color: #E5E7EB;
    padding: 6px 20px;
    border-radius: 10px;
    margin-top: -5px;
}

#heroimage {
    border: none;
}

.kpis {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kpiimg {
    display: flex;
    gap: 20px;
}

.kpicap {
    display: flex;
    gap: 20px;
}

.kpisubtext {
    width: 124px;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px light;
    font-style: italic;
}

.banner {
background-color: #3882f6;
}

.footer {
    background-color: #1F2937;
    text-align: center;
}