
body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul ol {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

img {
    border: 3px solid #3882f6;
    border-radius: 10px;
}

/* In hindsight the header should should have been combined with hero as an item for the body container. But I'm too lazy to change that now. */
/* Using identical horizontal padding will fix this */
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5px 100px;
    gap: 200px;
}

#headerlogo {
    color: #F9FAF8;
    font-size: 24px;
}

.headerlinks {
    display: flex;
    text-decoration: none;
    gap: 16px;
}

.heromain {
    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 100px;
    gap: 80px;
}

.herocontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-basis: 300px;
}

#heroheader {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: -10px;
}

#herobutton {
    background-color: #3882f6;
    color: #E5E7EB;
    border: 1px solid #3882f6;
    padding: 6px 20px;
    border-radius: 10px;
    margin-top: -5px;
}

#heroimage {
    border: none;
    flex-basis: 300px;
}

.kpis {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.kpiimg {
    display: flex;
    gap: 20px;
}

.kpicap {
    display: flex;
    gap: 20px;
}

.kpisubtext {
    width: 124px;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 50px 150px;
}

.quotetext {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quoteattribute {
    text-align: end;
    font-weight: 900;
    font-size: 18px;
}

.banner {
    padding: 60px 240px;
}

.bannerbox {
    background-color: #3882f6;
    color: #E5E7EB;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bannerblurb {
    font-size: 20px;
    margin-bottom: -15px;
}

.bannerbutton {
    background-color: #3882f6;
    color: #E5E7EB;
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    padding: 6px 20px;

}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    font-size: 12px;
}